body {
  margin: 0;
  padding: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.member {
  &-wrap {
    table {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      padding: 0.25rem 0.125rem;
      text-align: center;
      border-bottom: 1px solid #495057;
    }

    td:nth-child(4) {
      select {
        margin: 0 0.125rem;
      }
    }
  }

  &-item {
    margin: 0.5rem 0;
  }
}

.game-container {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    padding: 0.5rem 0.25rem;
    background-color: #ced4da;
  }

  td {
    text-align: center;
    border-bottom: 1px solid #495057;
    padding: 0.25rem 0.125rem;
  }

  .time {
    font-size: 0.75rem
  }

  .pair-a {
    position: relative;
    padding-right: 0.5rem;
    
    &::before {
      content: 'VS';
      position: absolute;
      width: 16px;
      color: #c92a2a;
      text-align: center;
      font-size: 0.75rem;
      right: -1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .pair-b {
    padding-left: 0.5rem;
  }

  select {
    margin: 0 0.125rem;
  }
}