body {
  margin: 0;
  padding: 1rem;
}

.member {
  &-wrap {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  &-item {
    margin: 0.5rem 0;
  }
}

.game-container {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    padding: 0.5rem 0.25rem;
    background-color: #ced4da;
  }

  td {
    text-align: center;
    border-bottom: 1px solid #495057;
    padding: 0.25rem 0.125rem;
  }

  .time {
    font-size: 0.75rem
  }

  .pair-a {
    position: relative;
    padding-right: 0.5rem;
    
    &::before {
      content: 'VS';
      position: absolute;
      width: 16px;
      color: #c92a2a;
      text-align: center;
      font-size: 0.75rem;
      right: -1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .pair-b {
    padding-left: 0.5rem;
  }

  select {
    margin: 0 0.125rem;
  }
}